h1 {
  text-align: center;
  margin: 4rem 0;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  row-gap: 4rem;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 150px;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

span {
  font-weight: bold;
  font-size: 120%;
}

a {
  transition: all 0.3s;
}

a:hover {
  transform: scale(1.1);
}